// game.less

@game-width: 600px;
@game-height: 500px;
@status-height: 16px;

@chat-width: 400px;
@chat-width-min: 280px;

html {
	margin: 0;
	background-color: #000000;
}

body { margin: 0; }

@import "chat";

.canvas-wrap {
	width: @game-width;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	
	// .wrap2 {
	// 	@chat-width
	// }
}

#canvas-ui { 
	position: absolute;
	top: 0; left: 0;
	width: @game-width;
	height: @game-height;
	
	.skrim {
		background-color: #000000;
	}
	
	// .textbox {
	// 	position: absolute;
	// 	background-image: url("img/ui/dialogbox.png");
	// 	padding: 7px;
		
	// }
}

#overtable {
	width: 100%;
	height: 100%;
	border-spacing: 0;
	border: none;
	
	td { padding: 0; }
}

#gamescreen {
	float: left;
	width: @game-width;
	height: @game-height;
}

#right-sidebar {
	// float: right;
	// width: @chat-width;
	background-color: blue;
	width: @chat-width;
	min-width: @chat-width-min;
}
#left-sidebar {
	float: left;
	width: @chat-width;
	max-width: @chat-width;
	min-width: @chat-width-min;
}

#statusbar {
	float: left;
	width: @game-width - (2px * 2);
	min-height: @status-height - (2px * 2);
	height: (@status-height * 5) - (2px * 2);
	
	border: ridge 2px #cccccc;
	background-color: #eeeeee;
	color: #000000;
}

@import "twitch-emotes";

