// landing.less
// Defining styles for the landing page

// Import only as reference, so we may reference @game-width, etc
@import (reference) "game.less";

html {
	margin: 0;
	background-color: #C2ECFF;
}

body {
	margin: 0;
}

.rheight {
	height: @game-height;
}
.rwidth {
	width: @game-width + @chat-width-min;
}
.size-ref {
	position: relative;
	height: @game-height - 20px;
	.rwidth;
	border: 1px #4F5BFF solid;
	background-color: #78D6FF;
	margin: 16px auto 16px;
	text-align: center;
	padding-top: 20px;
	
	#credit {
		position: absolute;
		top: @game-height + 5px; right: 0;
		font-size: 8pt;
	}
}
.wrapper {
	max-width: (@game-width + @chat-width-min) - (20*2);
	margin: 0 auto;
	padding: 10px 20px;
}

#size-recommend {
	&:before {
		content: (@game-width + @chat-width-min);
	}
	&:after {
		content: @game-height;
	}
}

.reject, .warning, .welcome {
	display: none;
}

#charSelector {
	height: (87+3+23);
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: #78D6FF;
	
	& > div {
		position: relative;
		display: inline-block;
		background-image: url("ticket.png");
		width: 44px; height: 87px;
		border: solid 3px #78D6FF;
		
		&.selected {
			border: solid 3px red;
			background-color: red;
		}
		
		& > div {
			position: absolute;
			top: 7px; left: 6px;
			width: 32px; height: 32px;
		}
	}
}
